[submodule "Customer_MicroService_Spring"]
	path = Customer_MicroService_Spring
	url = https://github.com/Elma-dev/Customer_MicroService_Spring.git
[submodule "Inventory_MicroService_Spring"]
	path = Inventory_MicroService_Spring
	url = https://github.com/Elma-dev/Inventory_MicroService_Spring.git
[submodule "Billing_MicroService_Spring"]
	path = Billing_MicroService_Spring
	url = https://github.com/Elma-dev/Billing_MicroService_Spring.git
[submodule "Gateway_Service_Spring"]
	path = Gateway_Service_Spring
	url = https://github.com/Elma-dev/Gateway_Service_Spring.git
[submodule "Eureka_Discovery"]
	path = Eureka_Discovery
	url = https://github.com/Elma-dev/Eureka_Discovery.git
[submodule "storeApp_front"]
	path = storeApp_front
	url = https://github.com/Elma-dev/storeApp_front.git
